<div class="byline">
  <div class="authors">
  {{#distill.authors}}
    <div class="author">
      <a class="name" href="{{personalURL}}">{{firstName}} {{lastName}}</a>
      <a class="affiliation" href="{{affiliationURL}}">{{affiliation}}</a>
    </div>
  {{/distill.authors}}
  </div>
  <div class="date">
    <div class="month">{{distill.firstPublishedMonth}}. {{distill.firstPublishedDate}}</div>
    <div class="year">{{distill.firstPublishedYear}}</div>
  </div>
  <a class="citation" href="#citation">
    <div>Citation:</div>
    <div>{{distill.concatenatedAuthors}}, {{distill.firstPublishedYear}}</div>
  </a>
</div>
