html {
  background-color: #fafafa;
}

body {
  margin: 0;
  min-width: 1024px;
  -webkit-text-size-adjust: 100%;
}

figure {
  margin: 0;
}

.page {
  overflow: hidden;
  background-color: #fcfcfc;
  padding-bottom: 120px;
}

/**
 * Widths
 */

.w-screen,
.post .w-screen {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.w-page,
.post .w-page {
  margin-left: 40px;
  margin-right: 40px;
  width: calc(100% - 80px);
  box-sizing: border-box;
}
@media(min-width: 1280px) {
  .w-page,
  .post .w-page {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.w-body,
.post .w-body {
  margin-left: auto;
  margin-right: auto;
  width: 620px;
}


/**
 * Columns
 */

.c-1-1 {
  display: flex;
}

.c-1-1 > * {
  flex-grow: 1;
  position: relative;
  width: 50%;
}

.c-equal {
  display: flex;
}

.c-equal > * {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  margin: 0 12px 0 0;
}

.c-equal > *:last-child {
  margin-right: 0;
  padding-right: 0;
}

.c-equal.c-divider > * {
  border-right: 1px solid #ddd;
}

.c-equal.c-divider > *:last-child {
  border-right: none;
}

/**
 * Positions
 */

.p-right,
.post .p-right {
  float: right;
  width: calc(40%);
  margin-right: 20px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 0;
}
@media(min-width: 1240px) {
  .p-right,
  .post .p-right {
    /*width: calc(960px / 2 - 100px);*/
    width: calc(1200px * 0.4);
    margin-right: calc((100% - 1200px) / 2);
  }
}
@media(min-width: 1280px) {
  /*.p-right,
  .post .p-right {
    width: calc(1200px / 2 - 150px);
    margin-right: calc((100vw - 1200px) / 2);
  }*/
}

.p-right-margin,
.post .p-right-margin {
  float: right;
  width: calc((768px - 620px) / 2);
  margin-right: calc((100vw - 768px) / 2);
  margin-top: 0;
}
@media(min-width: 920px) {
  .p-right-margin,
  .post .p-right-margin {
    width: calc((960px - 620px) / 2);
    margin-right: calc((100vw - 960px) / 2);
  }
}
@media(min-width: 1280px) {
  .p-right-margin,
  .post .p-right-margin {
    width: calc((1200px - 620px) / 2);
    margin-right: calc((100vw - 1200px) / 2);
  }
}

.p-left-margin,
.post .p-left-margin {
  float: left;
  width: calc((768px - 620px) / 2);
  margin-left: calc((100vw - 768px) / 2);
  margin-top: 0;
}
@media(min-width: 920px) {
  .p-left-margin,
  .post .p-left-margin {
    width: calc((960px - 620px) / 2);
    margin-left: calc((100vw - 960px) / 2);
  }
}
@media(min-width: 1280px) {
  .p-left-margin,
  .post .p-left-margin {
    width: calc((1200px - 620px) / 2);
    margin-left: calc((100vw - 1200px) / 2);
  }
}

/**
 * Figures and Captions
 */

.post figure.side-saddle-right,
.post figure.side-saddle-left {
  position: relative;
}

.post figure.side-saddle-right figcaption {
  width: 150px;
  position: absolute;
  right: -170px;
}

.post figure.side-saddle-left figcaption {
  width: 150px;
  position: absolute;
  left: -170px;
}
