<style>
  .header {
    font-family: 'Open Sans', sans;
    font-weight: 300;
    box-sizing: border-box;
    background: #fcfcfc;
    position: relative;
    z-index: 2;
  }

  .header .content {
    margin: 0 30px;
  }

  .header a {
    font-size: 13px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #999;
  }

  .header .logo {
    height: 60px;
    line-height: 60px;
    /*background: rgba(0, 0, 0, 0.05);*/
    text-transform: uppercase;
  }

  .header .logo i {
    position: relative;
    top: 7px;
    margin-right: 6px;
  }

  .header .nav {
    float: right;
    margin-left: 20px;
  }
</style>
<div class="header w-screen">
  <div class="content">
    <a href="../../" class="logo">
      <i class="material-icons">menu</i>
      </a>
    <a href="" class="nav">Contribute</a>
    <a href="" class="nav">About</a>
  </div>
</div>
