<style>
  .header {
    font-family: 'Open Sans', sans;
    font-weight: 300;
    box-sizing: border-box;
    background: hsl(276, 66%, 30%);
    position: relative;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header .content {
  }

  .header a {
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }

  .header .logo {
  }

  .header i.material-icons {
    position: relative;
    top: 7px;
    margin-right: 6px;
  }

  .header .nav {
    float: right;
    margin-left: 20px;
  }
</style>
<div class="header">
  <div class="content w-page">
    <a href="../../" class="logo">
      <!-- <i class="material-icons">menu</i> -->
      Distill
      </a>
      <a href="" class="nav"><i class="material-icons">more_horiz</i></a>
      <a href="" class="nav"><i class="material-icons">mode_comment</i></a>
      <a href="" class="nav"><i class="material-icons">toc</i></a>
  </div>
</div>
