<!doctype html>
<head>
  <title>{{distill.title}} — Distill</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="icon" type="image/png" href="/favicon.png" />

  <meta name="author" content="{{distill.concatenatedAuthors}}">

  <!--  https://schema.org/Article -->
  <meta property="article:published" itemprop="datePublished" content="{{distill.firstPublished}}" />
  <meta property="article:modified" itemprop="dateModified" content="{{distill.lastPublished}}" />
  {{#distill.authors}}
  <meta property="article:author" content="{{personalURL}}" />
  {{/distill.authors}}

  <!--  https://developers.facebook.com/docs/sharing/webmasters#markup -->
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{distill.title}}"/>
  <meta property="og:description" content="{{distill.description}}">
  <meta property="og:url" content="{{{distill.url}}}"/>
  <meta property="og:image" content="{{{distill.url}}}thumbnail.png"/>

  <!--  https://dev.twitter.com/cards/types/summary -->
  <meta name="twitter:card" value="summary_large_image">
  <meta name="twitter:title" content="{{distill.title}}">
  <meta name="twitter:description" content="{{distill.description}}">
  <meta name="twitter:url" content="{{{distill.url}}}">
  <meta name="twitter:image" content="{{{distill.url}}}thumbnail.png">
  <meta name="twitter:image:width" content="560">
  <meta name="twitter:image:height" content="295">

  <!--  https://scholar.google.com/intl/en/scholar/inclusion.html#indexing -->
  <meta name="citation_title" content="{{distill.title}}">
  {{#distill.authors}}
  <meta name="citation_author" content="{{lastName}}, {{firstName}}">
  {{/distill.authors}}
  <meta name="citation_publication_date" content="{{distill.firstPublishedYear}}/{{distill.citationMonth}}/{{distill.citationDate}}">
  <meta name="citation_journal_title" content="Distill">

  <link href="https://fonts.googleapis.com/css?family=Cardo|Open+Sans:400,400i,600|Material+Icons" rel="stylesheet">
</head>

<body>
  {{> header.html}}
  <style>
    {{> reset.css}}
    {{> common.css}}
  </style>
  <div class="page post">
    {{> index.html}}
  </div>
  {{> footer.html}}
  {{> ganalytics.html}}
</body>
