<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Open+Sans:300,400,400i,600,700" rel="stylesheet">
  <!--
  We should probably have meta tags like this:
  <meta name="citation_title" content="Understanding Augmented RNNs">
  <meta name="citation_author" content="Olah, Christopher">
  <meta name="citation_author" content="Carter, Shan">
  <meta name="citation_publication_date" content="2016/08/30">
  <meta name="citation_journal_title" content="The Nub">
  -->
</head>

<body>

  {{> header.html}}

  <style>

    {{> common.css}}

  </style>
  <div class="page post">
    {{> index.html}}
  </div>

  {{> footer.html}}
</body>
